*{
    margin:0;
    }
body {
background-color : grey;
}

    h1 {
    padding :2vmin;
    text-align : center;
    background-color : powderblue;
    margin-bottom : 5vh;
    }
    
    #box {
    display : flex;
    justify-content:center;
    
    }
    .grid-container {
        float : center;
      display: inline-grid;
      grid-template-columns: 20vmin 20vmin 20vmin;
      grid-template-rows: 20vmin 20vmin 20vmin;
      grid-gap: .5vmin;
      background-color: black;
      padding: 1vmin;
    }
    
    .item{
     display : flex;
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      justify-content : center;
      align-items : center;
      font-size: 10vmin;
      overflow : hidden;
    }
    .item:hover{
    background-color:red;
    }